.cartaoCompra {
  width: 400px;
  margin: 20px auto; 
  padding: 20px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  border: 1px #909090 solid;
}

.cartaoCompra form {
  display: flex;
  flex-direction: column;
 }

.cartaoCompra h3 {
  text-align: center;
  margin: 5px; 
}

.cartaoCompra label {
  margin-bottom: 8px;
  font-size: 16px;
}

.cartaoCompra input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background: #FFFCFC;
  border-radius: 15px;
  border: 1px #909090 solid;
}

.cartaoCompra .inputSmall {
  width: 25%;
}

.cartaoCompra .inputDataValidade {
  width: 50%;
}

.cartaoCompra .inputCodigoSeguranca {
  width: 25%;
}

.cartaoCompra button {
  width: 50%;
  max-width: 200px; 
  padding: 12px;
  background: #E67C1B;
  border-radius: 15px;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px; 
  align-self: center; 
}
.inputLarge {
  width: 50%;
  padding: 12px;
  margin-bottom: 15px;
  background: #FFFCFC;
  border-radius: 15px;
  border: 1px #909090 solid;
}