

.input_styles {
    /*margin-top: 5px;*/
    margin: 5px 10px 15px 0;
    padding-left: 10px;
    width: 23vw;
    height: 5vh;
    border-radius: 10px;
    border: 1px solid var(--gray-txt);
    color: var(--txt-softBlack);
    font-size: large;
}
textarea:focus, input:focus {
    outline-color: var(--orange);
}

