.form_container {
    width: 27.5vw;
    height: 80vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border: 1px solid var(--gray-txt);
    border-radius: 15px;
    padding-top: 25px;
}

.form_container h2 {
    font-size: xx-large;
    font-weight: 400;
    color: var(--black);
}

.form_inputs {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}

.form_inputs input {
    margin-bottom: 15px;
    width: 23vw;
    height: 5vh;
    border-radius: 10px;
    border: 1px solid var(--gray-txt);
    padding-left: 10px;
    color: var(--txt-softBlack);
    font-size: large;
}
textarea:focus, input:focus {
    outline-color: var(--orange);
}
